<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PractikaVariant22.Properties.Settings.practikaVar22ConnectionString"
            connectionString="Data Source=localhost,1433;Initial Catalog=practikaVar22;User ID=sa;Password=Secretochka2442"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>